/* You can add global styles to this file, and also import other style files */


  .loading{
      width:200px;
      height:200px;
      background: url(./assets/loader.png) no-repeat center;
      animation: spin .8s infinite linear;
      position: absolute;
      z-index: 1001;
    }
    @keyframes spin{
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }